assets/**/* filter=lfs diff=lfs merge=lfs -text
Models/**/* filter=lfs diff=lfs merge=lfs -text
Notebooks/**/* filter=lfs diff=lfs merge=lfs -text
Deployment/**/* filter=lfs diff=lfs merge=lfs -text
git lfs untrack "*.py"